header {
    background-color: #FFE600;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

    .searcher {
        width: 80%;
        display: flex;

        img {
            width: 50px;
        }

       .logo {
            background: url("./logo_ml.png") no-repeat center;
            border: none;
            width: 50px;
            margin-right: 20px;
        }

        input[type="text"] {
            width: 93%;
            border: none;
            align-items: center;
            height: 38px;
            border-bottom-left-radius: 3px;
            border-top-left-radius: 3px;
        }

        input[type="text"]:active {
            border: none;
        }

        input[type="text"]::placeholder {
            font-size: 18px;
            padding-left: 10px;
        }

        input[type="button"] {
            background: #EEEEEE url('./ic_search.png') no-repeat center;
            background-size: 18px;
            width: 35px;
            height: 38px;
            border: none;
            padding-top: 7px;
            border-bottom-right-radius: 3px;
            border-top-right-radius: 3px;
        }
    }
}